h1 {
    color: black;
    font-family:"Segoe UI", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 36pt;
}

h2 {
    color: black;
    font-family:"Segoe UI", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 12pt;
}

hr {
    width: 90%
}

p {
    color: black;
    font-family:"Segoe UI", sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 12pt;
    margin:0;
}

.p-about {
    display: block;
    width: 85%;
    word-break: break-word;
    text-indent: 0;
    padding-left: 50pt;
}

.div-group {
    margin: 50px 15%;
    background-image: linear-gradient(to right, rgba(31, 142, 252, 0.07), rgba(31, 142, 252, 0.44));
    overflow: hidden;
}

.div-left {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 25%;
    float: left;
    text-indent: 10pt;
}

.div-right {
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 64%;
    float: right;
    text-indent: 30pt;
}

a {
    color: #00007F;
    font-family:"Segoe UI", sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    font-size: 12pt;
}

li {
    display: block;
}

.l1 {
    padding-left: 0;
}

.l1> li>*:first-child:before {
    content: "• ";
    color: black;
    font-family:Calibri, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 12pt;
}